{% extends 'base.html' %}

{% block title %} Madlibs! {% endblock %}

{% block header %} Madlibs! {% endblock %}
{% block content %}
<form action="/results" class="my-2">
    <select name="story" id="story-select" onchange="this.form.submit()">
        <option value=""> -- Choose a Story -- </option>
        {% for story in story_options %}
        <option value="{{story}}">{{story}}</option>
        {% endfor %}
    </select>
</form>
<p class="text-center">OR</p>
<div class="text-center pb-2">
    <a class="btn btn-primary" href="/create">Create a Template</a>
</div>

{% endblock %}